* {
    box-sizing: border-box;
}



ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.conteiner {
    width: 1440px;
    height: 696px;
    background: #fff;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    list-style: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 16px;
    top: 16px;
    width: 1440px;
    height: 696px;
    margin: auto;
    background: rgba(46, 47, 66, 0.8);
    overflow: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    padding-top: 28px;

    padding-bottom: 28px;

}